html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pad1rem{
  padding: 0 1rem;
}
.curs-point{
  cursor: pointer;
}
.slidenav-trigger-m{
  display: none;
}
@media(max-width: 992px){
  .slidenav-trigger-m{
    display: block;
  }
}

@media(max-width: 500px){
  h1{
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .subtitle{
    font-size: 19px;
  }
  hr{
    margin: 15px 0;
  }
  .card .card-title{
    font-size: 17px;
  }
  .card .card-h5{
    font-size: 17px;
  }
}